<!doctype html>
<html lang="en">

  <% include header %>
  <% include navbar %>
    <div class="container text-center">
	 			<div class="col-md-12">
		      <div class="col-md-9 bg-own shadow">
		        <div class="panel-heading text-center">
		          <h2>Kuovi-vaaput</h2>
		          <p class="align_left"> Tervetuloa Kuovi-vaappujen kotisivuille!<b class="price_color"> Sivusto ei ole vielä varsinaisessa käytössä, joten tekemiäsi tilauksia ei toteuteta.</b> Kaikkia sivun toimintoja kuitenkin saa käyttää ja palautetta sivustosta voi antaa joko "Yhteystiedot"-välilehdeltä löytyvään sähköpostiosoitteeseen tai tilauksen yhteydessä "Lisätietoja"-kenttään.</p>
		        </div>
		        
		        <div class="row">
							<div class="col-md-6">
								<div class="thumbnail shadow bg-own">
									<h4>Otsikko 1</h4>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="thumbnail shadow bg-own">
									<h4>Otsikko 2</h4>
								</div>
							</div>
		        </div>
					
	          <div class="row">
							<div class="col-md-6">
								<div class="thumbnail shadow bg-own">
									<h4>Otsikko 3</h4>
								</div>
							</div>
							
							<!-- 50mm lure column -->
							<div class="col-md-6">
								<div class="thumbnail shadow bg-own">
									<h4>Otsikko 4</h4>
								</div>
							</div>
		        </div>
					</div>
  <% include sidebar %>
  <% include footer %>
</html>
