<% include header %>
<% include navbar %>

<div class="container">
  <div class="col-md-8 bg-own shadow">
    <div class="panel-heading text-center">
      <h2>Kirjaudu sis채채n hallitaksesi tilauksia</h2>
      <form class="form-horizontal" action="/login" method="post">
        <div class="form-group">
            <div class="col-xs-6">
              <input type="etunimi" class="form-control" id="inputTunnus" name="tunnus" required placeholder="Tunnus">
            </div>
            
            <div class="col-xs-6">
              <input type="password" class="form-control" id="inputSalasana" name="salasana" required placeholder="Salasana">
            </div>
        </div>
        
        <div class="form-group">    
            <div class="col-xs-12">
                <input class="btn btn-default" type="submit" value="Kirjaudu sis채채n"/>
            </div>
        </div>
      </form>
    </div>
    </div>
    
  <%= include sidebar %>
</div>
