<body id="angularBody" ng-app="order" ng-controller="OrderController">>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/kuvat/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li><a href="/vaaput">Vaappumallit</a></li>
            <li><a href="/kuvat">Kuvagalleria</a></li>
            <li><a href="/yhteystiedot">Yhteystiedot</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/tilaus">Tilauskori <span class="badge">{{returnTotalCount()}} </span> <text class="price_color">{{returnTotalPrice()}}</text></a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
