<% include header %>
<% include navbar %>

<div class="container text-center" >
	<div class="col-md-12">
        <div class="col-md-9 shadow bg-own" id="colmd">
 	        <div class="panel-heading text-center">
	          <h2>3D-malli 120 mm vaapusta</h2><p class="price_color">(t채m채 on l채hinn채 three.js demo)</p>
	          <p class="align_left">
		      </p>
	        </div>
        </div>

<script src="/javascripts/three.min.js"></script> 
<script src="/javascripts/OrbitControls.js"></script> 
<script src="/javascripts/vaappu3d.js"></script>

<% include sidebar %>
<% include footer %>